/*Variables / custom properties
se crean en el punto mas alto del documento root (raiz)
  
*/
:root{ /*Declaro las variables, nombres y contenido*/
    --azul:#72c0c0;
    --naranja: #F90;
    --negro: #000;
    --blanco: #FFF;
    --amarillo:#f8c009;
    --espacio: 20px;

}
*{ /*setear: prpiedades no heredables, uso seleccion universal*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*evita q los elementos crezcan*/
}

body{
    
    /*Utilizamos la variable con var()*/
    background-color: var(--azul);
    background-image: url(images/pattern.jpg); /*imagen de fondo*/
    /*background-repeat: repeat; esta siempre es por defecto
    puede ser tambien no-repeat / repeat-x/ -webkit-mask-repeat-y
    background-size: cover; cubre el 100% del fondo */
    font-family: Arial, Helvetica, sans-serif; /*defino la fuente de la letra*/
}

/*h1{
    background-color: var(--blanco);
    color: var(--azul);
}*/
.cabecera, .contenedor{
    max-width: 1000px;
    margin: auto;
    
}
.cabecera{
    display: flex;
    color: var(--naranja);
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 5px 0;
}

.contenedor{
    background-color: var(--blanco);
    border-radius: 10px 10px 0 0;
}
/*----------------Navegacion ----------------------*/
.nav{
    background-color: var(--naranja);
    display: flex;
    padding: 10px;
    padding-left: 45px;
    flex-wrap: wrap;
    /*margin: auto;*/
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px; /*separar entre la botonera y lo que este abajo*/

}
.nav-lista{
    /*background-color: var(--naranja);*/
    list-style: none;
    display: flex;
    
    /*font-size: 20px;*/
    padding: 10px 0;
    

}
.nav-lista_item-link{
    /*background-color: darkkhaki;*/
    display: block; /*para tener mas zona clicleable*/
    text-decoration: none;
    color: var(--blanco);
    font-weight: bolder;
    padding: 4px 8px;
    border-right: 1px solid var(--amarillo);
}
.nav-lista_item-link:hover{
    text-decoration: underline;
}
.nav-form{
    /*background-color:  var(--naranja);*/
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    /*padding-top: 10px;
    padding-right: 15px;*/

}
.slider{
    text-align: center; /*centrar la imagen*/
    /*background-color: pink;*/
    margin-bottom: 20px; /*espacio desde la imagen para abajo*/
}
/*----------------principal-----------------*/
.principal{
    background-color: mediumorchid;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 0 var(--espacio);
    /*padding-top: 0;*/
    margin-bottom: 100px; /*es temporal para scrolear*/
}
.principal-categorias{
    background-color: salmon;
}
.principal-productos{
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--espacio);
}
.producto{
    background-color: steelblue;
}